body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
  }